#ContainerLogin{
    width: 400px;
    text-align: center;
    height:600px;
    padding-top: 40px;
    position: fixed;
    right: 0px;
}
#ContainerImg{
    width:150px;
    height:200px;
    border-radius: 0 0 10px 10px;
}
input{
    border: 2px solid;
    border-radius: 4px;
    margin: 10px 0px;
    width:250px;
    height: 35px;
}
form{
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 200px;
    height: 35px;
    font-size: x-large;
    border-radius: 4px;
    background-color: white;
}
button:hover{
    background-color: #043b74;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modal:target{
    opacity: 1;
    pointer-events: auto;
  }
  .modal > div{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .fechar {
    position: absolute;
    width: 30px;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 20px;
    color: #8d0000;
  }
#ContainerIniciativas
{
    text-align: center;
    width: 850px;
}
#IMEJR, #Stem, #RoboIme, #Grifo, #ImeSec, #CEOS, #Integração, #MatIME, #EcoIME
{
    border-radius: 5px;
    position: relative;
}
#IMEJR img.segunda, #Stem img.segunda, #RoboIme img.segunda, #Grifo img.segunda, #ImeSec img.segunda,
#CEOS img.segunda, #Integração img.segunda, #MatIME img.segunda, #EcoIME img.segunda
{
    visibility: hidden;
    opacity: 0;
}
#IMEJR img.primeira, #IMEJR img.segunda, #Stem img.primeira, #Stem img.segunda, #RoboIme img.primeira,
#RoboIme img.segunda, #Grifo img.primeira, #Grifo img.segunda, #ImeSec img.primeira, #ImeSec img.segunda,
#CEOS img.primeira, #CEOS img.segunda, #Integração img.primeira, #Integração img.segunda, #MatIME img.primeira,
#MatIME img.segunda, #EcoIME img.primeira, #EcoIME img.segunda
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#IMEJR:hover .segunda, #Stem:hover .segunda, #RoboIme:hover .segunda, #Grifo:hover .segunda, #ImeSec:hover .segunda,
#CEOS:hover .segunda, #Integração:hover .segunda, #MatIME:hover .segunda, #EcoIME:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#Stem
{
    left: 300px;
}
#RoboIme
{
    top:350px;
}
#Grifo
{
    top:350px;
    left: 300px;
}
#ImeSec
{
    top: 350px;
    left: 600px;
}
#CEOS
{
    top:350 px;
    left: 600px;
}
#Integração
{
    top: 700px;
}
#MatIME
{
    top: 700px;
    left: 300px;
}
#EcoIME
{
    top: 700px;
    left: 600px;
}