#ContainerLogin
{
    width: 400px;
    text-align: center;
    height:600px;
    padding-top: 40px;
    position: fixed;
    right: 0px;
}
#ContainerImg
{
    width:"150px";
    height:"200px";
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input
{
    border: 2px solid;
    border-radius: 4px;
    margin: 10px 0px;
    width:250px;
    height: 35px;
}
form
{
    align-items:center;
    margin-left: auto;
    margin-right: auto;

}
button
{
    width: 200px;
    height: 35px;
    font-size: x-large;
    border-radius: 4px;
    background-color: white;
}
button:hover
{
    background-color: #043b74;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .fechar {
    position: absolute;
    width: 30px;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 20px;
    color: #8d0000;
  }
#ContainerIniciativas
{
    text-align: center;
    width: 850px;
}
#IMEJR
{
    border-radius: 5px;
    position: relative;
}
#IMEJR img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#IMEJR img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#IMEJR:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#Stem
{
    border-radius: 5px;
    position: relative;
    left: 300px;
}
#Stem img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#Stem img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#Stem:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#RoboIme
{
    border-radius: 5px;
    position: relative;
    top:350px;
}
#RoboIme img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#RoboIme img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#RoboIme:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#Grifo
{
    border-radius: 5px;
    position: relative;
    top:350px;
    left: 300px;
}
#Grifo img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#Grifo img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#Grifo:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#ImeSec
{
    border-radius: 5px;
    position: relative;
    top:0 px;
    left: 600px;
}
#ImeSec img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#ImeSec img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top:0;
    left: 0;
}
#ImeSec:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#CEOS
{
    border-radius: 5px;
    position: relative;
    top:350 px;
    left: 600px;
}
#CEOS img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top: 350px;;
    left: 0;
}
#CEOS img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top: 350px;;
    left: 0;
}
#CEOS:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#Integração
{
    border-radius: 5px;
    position: relative;
    top: 700px;
    left: 0px;
}
#Integração img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#Integração img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top: 0;
    left: 0;
}
#Integração:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#MatIME
{
    border-radius: 5px;
    position: relative;
    top: 700px;
    left: 300px;
}
#MatIME img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#MatIME img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top: 0;
    left: 0;
}
#MatIME:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}
#EcoIME
{
    border-radius: 5px;
    position: relative;
    top: 700px;
    left: 600px;
}
#EcoIME img.segunda
{
    border-radius: 5px;
    border: solid;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left: 0;
}
#EcoIME img.primeira
{
    border: solid;
    border-radius: 5px;
    position:absolute;
    top: 0;
    left: 0;
}
#EcoIME:hover .segunda
{
    visibility: visible;
    opacity: 1;
    width: 280px;
    height: 280px;
}


