*{
    border: 0;
    padding: 0;
    margin:0;
}
.brasil{
    background: #043b74;
    height: 100vh;
    width: 100%;
}
.home{
    height: 60px;
    width: 60px;
    position: relative;
    left: 20px;
    top:20px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #b70002;
}
.icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.icon:hover{
    width: 70px;
    height: 70px;
}
